name: Latest blog post workflow

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: blog-post-workflow
  cancel-in-progress: true

jobs:
  update-readme-with-blog:
    name: Update README with latest blog posts
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Update README with blog posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          # URL вашей RSS ленты Hugo
          feed_list: "https://xden.dev/posts/index.xml"
          # Максимальное количество постов для отображения
          max_post_count: 15
          # Формат отображения постов
          template: " $newline - [$title]($url)"
          # Комментарий для начала секции с постами в README
          comment_tag_name: "BLOG-POST-LIST"
          # Коммит изменений
          commit_message: "Updated with latest blog posts"
          committer_username: "blog-post-bot"
          committer_email: "blog-post-bot@example.com"
